[submodule "home/.vim/bundle/vim-pathogen"]
	path = home/.vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "home/.vim/bundle/vim-markdown"]
	path = home/.vim/bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "home/.vim/bundle/vim-surround"]
	path = home/.vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "home/.vim/bundle/vim-git"]
	path = home/.vim/bundle/vim-git
	url = git://github.com/tpope/vim-git.git
[submodule "home/.vim/bundle/vim-endwise"]
	path = home/.vim/bundle/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "home/.vim/bundle/vim-coffee-script"]
	path = home/.vim/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "home/.vim/bundle/vim-solarized"]
	path = home/.vim/bundle/vim-solarized
	url = git://github.com/skwp/vim-colors-solarized.git
[submodule "home/.vim/bundle/vim-extradite"]
	path = home/.vim/bundle/vim-extradite
	url = git://github.com/int3/vim-extradite
[submodule "home/.vim/bundle/vim-nerdtree"]
	path = home/.vim/bundle/vim-nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "home/.vim/bundle/vim-snipmate"]
	path = home/.vim/bundle/vim-snipmate
	url = git://github.com/mikefarmer/snipmate.vim.git
[submodule "home/.vim/snippets"]
	path = home/.vim/snippets
	url = git@github.com:solidline/snipmate-snippets.git
[submodule "home/.vim/bundle/vim-unimpared"]
	path = home/.vim/bundle/vim-unimpared
	url = git://github.com/tpope/vim-unimpaired
[submodule "home/.vim/bundle/vim-neocompletecache"]
	path = home/.vim/bundle/vim-neocompletecache
	url = git://github.com/Shougo/neocomplcache.git
[submodule "home/.vim/bundle/vim-indent-object"]
	path = home/.vim/bundle/vim-indent-object
	url = git://github.com/austintaylor/vim-indentobject.git
[submodule "home/.vim/bundle/vim-nerdtree-tabs"]
	path = home/.vim/bundle/vim-nerdtree-tabs
	url = git://github.com/jistr/vim-nerdtree-tabs.git
[submodule "home/.vim/bundle/vim-fugitive"]
	path = home/.vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "home/.vim/bundle/vim-command-t"]
	path = home/.vim/bundle/vim-command-t
	url = git://git.wincent.com/command-t.git
[submodule "home/.vim/bundle/vim-syntastic"]
	path = home/.vim/bundle/vim-syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "home/.vim/bundle/vim-less"]
	path = home/.vim/bundle/vim-less
	url = git://github.com/groenewege/vim-less.git
[submodule "home/.vim/bundle/vim-xml"]
	path = home/.vim/bundle/vim-xml
	url = git://github.com/othree/xml.vim.git
[submodule "home/.vim/bundle/vim-commentary"]
	path = home/.vim/bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "home/.vim/bundle/vim-ragtag"]
	path = home/.vim/bundle/vim-ragtag
	url = git://github.com/tpope/vim-ragtag.git
[submodule "home/.vim/bundle/vim-vimux"]
	path = home/.vim/bundle/vim-vimux
	url = git://github.com/benmills/vimux.git
[submodule "home/.vim/bundle/vim-visual-start-search"]
	path = home/.vim/bundle/vim-visual-start-search
	url = https://github.com/nelstrom/vim-visual-star-search.git
[submodule "home/.vim/bundle/vim-qargs"]
	path = home/.vim/bundle/vim-qargs
	url = https://github.com/nelstrom/vim-qargs
[submodule "home/.vim/bundle/vim-delimit-mate"]
	path = home/.vim/bundle/vim-delimit-mate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "home/.vim/bundle/vim-taglist-plus"]
	path = home/.vim/bundle/vim-taglist-plus
	url = https://github.com/int3/vim-taglist-plus
[submodule "home/.vim/bundle/vim-ack"]
	path = home/.vim/bundle/vim-ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "home/.vim/bundle/vim-tabular"]
	path = home/.vim/bundle/vim-tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "home/.vim/bundle/numbers"]
	path = home/.vim/bundle/numbers
	url = https://github.com/myusuf3/numbers.vim.git
[submodule "home/.vim/bundle/base16-vim"]
	path = home/.vim/bundle/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule "home/.vim/bundle/switch.vim"]
	path = home/.vim/bundle/switch.vim
	url = https://github.com/AndrewRadev/switch.vim.git
[submodule "home/.vim/bundle/dwm.vim"]
	path = home/.vim/bundle/dwm.vim
	url = https://github.com/spolu/dwm.vim.git
